<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('角色列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								角色名称：<input type="text" name="rolename"/>
							</li>
							<li>
								权限字符：<input type="text" name="rolekey"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="role:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="role:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="role:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "role";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        // exportUrl: prefix + "/export",
		        sortName: "sortcode",
		        modalName: "角色",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '角色编号'
		        },
		        {
		            field: 'rolename',
		            title: '角色名称',
		            sortable: true
		        },
		        {
		            field: 'rolekey',
		            title: '权限字符',
		            sortable: true
		        },
		        {
		            field: 'sortcode',
		            title: '显示顺序',
		            sortable: true
		        },
		        {
		            field: 'remark',
		            title: '备注',
		            sortable: false
		        },
		        ]
		    };
		    $.table.init(options);
		});
		
		// /* 角色管理-分配数据权限 */
		// function authDataScope(roleId) {
		//     var url = prefix + '/authDataScope/' + roleId;
		//     $.modal.open("分配数据权限", url);
		// }
		//
		// /* 角色管理-分配用户 */
		// function authUser(roleId) {
		//     var url = prefix + '/authUser/' + roleId;
		//     $.modal.openTab("分配用户", url);
		// }
		
		// /* 角色状态显示 */
		// function statusTools(row) {
		//     if (row.status == 1) {
    	// 		return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.roleId + '\')"></i> ';
    	// 	} else {
    	// 		return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.roleId + '\')"></i> ';
    	// 	}
		// }
		
		// /* 角色管理-停用 */
		// function disable(roleId) {
		// 	$.modal.confirm("确认要停用角色吗？", function() {
		// 		$.operate.post(prefix + "/changeStatus", { "roleId": roleId, "status": 1 });
		//     })
		// }
		//
		// /* 角色管理启用 */
		// function enable(roleId) {
		// 	$.modal.confirm("确认要启用角色吗？", function() {
		// 		$.operate.post(prefix + "/changeStatus", { "roleId": roleId, "status": 0 });
		//     })
		// }
	</script>
</body>
</html>