<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.web.dao.OrderLogMapper">

    <select id="selectLogsById" resultType="com.soft.web.entity.OrderLog">
        select * from fa_order_log where order_id=#{orderId}
    </select>

</mapper>
