<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.web.dao.ProductDetailMapper">

    <select id="getMaxSortNumber" resultType="java.lang.Integer">
        select IFNULL(max(sort_number),0) from fa_product_detail where product_id= #{pid}
    </select>
    <select id="getGoodsDetail" resultType="com.soft.web.entity.ProductDetail">
        select * from fa_product_detail where product_id= #{pid}
    </select>
</mapper>